{% extends "base.html.twig" %}

{% block body %}
	<div class="container mt-5">
		{% if app.request.get("_route") == "create-list" %}
			<h3>
				Créer une liste
			</h3>
		{% else %}
			<h3>
				Modifier la liste
				<span style="color: {{list.color}}; font-style:italic; font-size:0.8em">"{{list.name}}"</span>
			</h3>
		{% endif %}
		{{ form_start(form)}}
		{{ form_row(form.name)}}
		{{ form_row(form.color)}}
		{% if app.request.get("_route") == "create-list" %}
			<input type="submit" value="Créer la liste" class="btn-submit mt-2">
		{% else %}
			<input type="submit" value="Modifier la liste" class="btn-modify mt-2">
		{% endif %}
		{{ form_end(form)}}
	</div>


{% endblock %}
