{% extends "base.html.twig" %}

{% block body %}
	<div class="container mt-5">
		{% if app.request.get("_route") == "create-list" %}
			<h3>
				Créer une liste
			</h3>
		{% else %}
			<h3>
				Modifier la liste
				<span style="color: {{list.color}}">{{list.name}}</span>
			</h3>
		{% endif %}
		{{ form_start(createForm)}}
		{{ form_row(createForm.name)}}
		{{ form_row(createForm.color)}}
		{% if app.request.get("_route") == "create-list" %}
			<input type="submit" value="Créer la liste" class="btn-submit mt-2">
		{% else %}
			<input type="submit" value="Modifier la liste" class="btn-modify mt-2">
		{% endif %}
		{{ form_end(createForm)}}
	</div>


{% endblock %}
